
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 15vh;
  padding: 0px 35px;
}

.header__logo{
  width: 250px;
}

.header__nav{
  display: flex;
  gap: 15px;
  list-style: none;
}