
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  padding: 0px 10vw;
}

.header__logo{
  width: 250px;
  cursor: pointer;
}

.header__nav{
  display: flex;
  gap: 15px;
  list-style: none;
}

.header__nav-item a{
  text-decoration: none;
  color: #FFFF;
}

.header__nav-item a:hover{
  color: #18d860;
}

.header__menu {
  display: none;
}


/* ------------------------ MEDIA QUERIES ------------------------*/

/* TABLETS (Horizontal 1024px - 1279px) */

@media (max-width: 1279px) {
  .header {
    padding: 0px 2vw;
  }
}

/* TABLETS (Vertical 768px - 1023px) */

@media (max-width: 1023px) {

  .header {
    padding: 0px 1vw;
    height: auto;
  }
}
  
/* TELEFONOS grandes (481px - 767px)*/
@media (max-width: 767px) {

  .header{
    height: auto;
  } 
  
  .header__nav {
    flex-direction: column;
    align-items: start;
  }

  .header__logo{
    width: 200px;
  }

  .header__menu{
    display: block;
    cursor: pointer;
    font-size: 28px;
    padding-right: 10px;
  }

  .header__nav{
    display: none;
    position: absolute;
    top: 7vh;
    left: 0;
    padding: 0px 10px 10px;
    background-color: #121212;
    width: 100vw;
    cursor: pointer;
    /* transform: translateX(750px);
    transition: transform 0.5s ease; */
  }

  .header__nav-item{
    margin-top: 6px;
  }

  .show__menu {
    display: block;
  }
}

/* TELEFONOS medianos (418px - 480px)*/
/* Se adapta bien a los estilos anteriores */

/* TELEFONOS pequeños (hasta 417px)*/
@media (max-width: 417px) {
  .header__logo{
    width: 150px;
  }

  .header__menu{
    font-size: 1.375rem;
  }
}