.footer {
    background-color: black;
    padding: 30px 10vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footer__info-faded {
    margin-top: 5px;
    color: #919496;
    font-size: 0.875rem;
}

.footer__info-logo {
    width: 180px;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.footer__contact-title{
    font-size: 1.125rem;
}

.footer__contact-links{
    display: flex;
    gap: 15px;
    
}


.contact-icon {
    font-size: 2.125rem;
    color: #FFFF;
}


/* ------------------------ MEDIA QUERIES ------------------------*/

/* TABLETS (Horizontal 1024px - 1279px) */

@media (max-width: 1279px) {
    .footer {
      padding: 15px 3vw;
    }
}

/* Dimension especial (hasta 549px) */

@media (max-width: 549px) {
    .footer{
        flex-direction: column;
        align-items: start;
        gap: 25px;
    }

    .footer__contact{
        align-items: start;
    }
}
